<<<<<<< HEAD
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
=======
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #f5f8fa;
}

.join-chat-container, .chat-container {
  margin: 50px auto;
  max-width: 420px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 7px 24px #0001;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input[type="text"], input[type="password"], input[readonly] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.messages-window {
  border: 1px solid #eee;
  min-height: 220px;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 6px;
  background: #f9fbfd;
  margin-bottom: 16px;
  padding: 8px;
}
form {
  display: flex;
  gap: 6px;
}
form input {
  flex: 1;
>>>>>>> b3316f318bb02a1dcbcb2a1c5f0c2779c0f6112f
}
